Repository fitplot/fitplot: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: prettier --write {staged_files}

lint:
  run: eslint --cache --fix {staged_files}

commit lefthook version hash
  .husky/prepare-commit-msg
Due: none

`nexus` :arrow_right: `fitplot`
  package-lock.json
  package.json
  src/pages/_app.js
  src/pages/index.js
Due: format, lint

update lefthook
  .husky/pre-commit
  .husky/prepare-commit-msg
  lefthook.yaml
  package-lock.json
  package.json
Due: format

remove unused react-window
  package-lock.json
  package.json
Due: format

persist CI=true in Dockerfile to prevent lefthook git hook install persist CI=true in Dockerfile to prevent lefthook git hook install persist CI=true in Dockerfile to prevent lefthook git hook install
  .github/workflows/deployment.yml
  Dockerfile
Due: none

unit test `fitcode`
  package-lock.json
  package.json
  src/lib/fitcode.js
  src/lib/fitcode.test.js
Due: format, lint

Part II
  src/components/dialogs/add-sets-dialog.js
  src/components/dialogs/add-workout-dialog.js
  src/components/dialogs/delete-exercise-dialog.js
  src/components/dialogs/delete-sets-dialog.js
  src/components/dialogs/delete-workout-dialog.js
  src/components/global-command.js
  src/components/layouts.js
  src/components/loading-icon.js
  src/components/navbar.js
  src/components/sidebar.js
  src/components/ui/list.js
  src/components/workout-more-actions.js
  src/hooks/openable.js
  src/hooks/use-exercise.js
  src/hooks/use-exercises.js
  src/hooks/use-magic-link.js
  src/hooks/use-sets.js
  src/hooks/use-sign-in.js
  src/hooks/use-sign-out.js
  src/hooks/use-sign-up.js
  src/hooks/use-units.js
  src/hooks/use-user.js
  src/hooks/use-workout.js
  src/hooks/use-workouts.js
  src/lib/fitcode.js
  src/pages/_app.js
  src/pages/dashboard.js
  src/pages/me.js
  src/pages/workout/[workoutId].js
  src/pages/workouts.js
Due: format, lint

Some tidying up
  docs/003-decisions/002-permissions.md
  docs/003-decisions/003-nanoid.md
  src/components/dialogs/add-sets-dialog.js
  src/components/global-command.js
  src/hooks/use-exercises.js
  src/hooks/use-sets.js
  src/hooks/use-workout.js
Due: format, lint

add test dep for deploy
  .github/workflows/deployment.yml
Due: none

cleanup deploy yaml
  .github/workflows/deployment.yml
Due: none

update deploy
  Dockerfile
  package.json
Due: format

fix deploy yml
  .github/workflows/deployment.yml
Due: none

remove jotai dev dep
  src/pages/_app.js
Due: format, lint

fix delete workout bug
  src/components/global-command.js
Due: format, lint

cleanup horizontal scrollbars caused by negative margins
  src/components/layouts.js
  src/components/ui/command.js
  src/pages/_app.js
  src/pages/dashboard.js
  src/pages/index.js
  src/pages/me.js
  src/pages/workout/[workoutId].js
  src/pages/workouts.js
Due: format, lint

:art: prettier
  lefthook.yaml
  src/components/ui/alert-dialog.jsx
  src/components/ui/avatar.jsx
  src/components/ui/badge.jsx
  src/components/ui/card.jsx
  src/components/ui/label.jsx
  src/components/ui/scroll-area.jsx
  src/components/ui/table.jsx
Due: none

add global command to sidebar
  src/components/global-command.js
  src/components/sidebar.js
  src/components/ui/kbd.jsx
Due: format, lint

add-sets-dialog fixes
  src/components/dialogs/add-sets-dialog.js
  src/components/selection-popover.js
  src/components/sidebar.js
  src/components/ui/kbd.jsx
  src/pages/workout/[workoutId].js
Due: format, lint

cleanup nits
  src/components/navbar.js
  src/pages/index.js
Due: format, lint

add package manager decision doc
  docs/003-decisions/004-package-manager.md
Due: none

spice up the marketing home page
  public/add-exercise-desktop.png
  public/add-exercise-mobile.png
  public/dashboard-desktop.png
  public/dashboard-mobile.png
  public/progressive-overload-desktop.png
  public/workout-mobile.png
  public/workouts-mobile.png
  src/components/navbar.js
  src/pages/index.js
Due: format, lint

upgrade to latest fly to support ipv6 listening
  package-lock.json
  package.json
Due: format

try to get next.js to listen on 8080
  Dockerfile
Due: none

Revert "upgrade to latest fly to support ipv6 listening"
  package-lock.json
  package.json
Due: format

Revert "Revert "upgrade to latest fly to support ipv6 listening""
  package-lock.json
  package.json
Due: format

add dev env
  .env.example
  .github/workflows/deployment.yml
  Dockerfile
  fly.toml
  next.config.js
  src/hooks/use-exercise.js
  src/hooks/use-exercises.js
  src/hooks/use-magic-link.js
  src/hooks/use-sets.js
  src/hooks/use-sign-in.js
  src/hooks/use-sign-out.js
  src/hooks/use-sign-up.js
  src/hooks/use-units.js
  src/hooks/use-user.js
  src/hooks/use-waitlist.js
  src/hooks/use-workout.js
  src/hooks/use-workouts.js
  src/lib/with-user.js
Due: format, lint

update dev api host
  .github/workflows/deployment.yml
  Dockerfile
  src/hooks/use-exercise.js
  src/hooks/use-exercises.js
  src/hooks/use-magic-link.js
  src/hooks/use-sets.js
  src/hooks/use-sign-in.js
  src/hooks/use-sign-out.js
  src/hooks/use-sign-up.js
  src/hooks/use-units.js
  src/hooks/use-user.js
  src/hooks/use-waitlist.js
  src/hooks/use-workout.js
  src/hooks/use-workouts.js
  src/lib/with-user.js
Due: format, lint

add logging middleware
  src/middleware.js
Due: format, lint

include dev server rewrites
  next.config.js
Due: format, lint

log api host on server
  src/lib/with-user.js
Due: format, lint

escape API_HOST in deploy
  .github/workflows/deployment.yml
Due: none

hoist API_HOST env var
  Dockerfile
Due: none

progress
  .env.example
  package-lock.json
  package.json
  src/components/footer.js
  src/components/layouts.js
  src/components/navbar.js
  src/components/typography.js
  src/components/ui/alert.jsx
  src/components/ui/card.jsx
  src/components/ui/dialog.jsx
  src/components/ui/spotlight.jsx
  src/hooks/use-app-layout.js
  src/hooks/use-in-view.js
  src/lib/with-user.js
  src/main.css
  src/pages/_app.js
  src/pages/fitcode.js
  src/pages/index.js
  tailwind.config.js
Due: format, lint

:broom: cleanup
  src/pages/fitcode.js
  src/pages/index.js
Due: format, lint

big icon update
  public/favicon.ico
  public/favicon.png
  public/round-128.png
  public/round-256.png
  public/round-32.png
  public/round-512.png
  public/round-64.png
  public/site.webmanifest
  public/square-128.png
  public/square-180.png
  public/square-256.png
  public/square-32.png
  public/square-512.png
  public/square-64.png
  public/squircle-128.png
  public/squircle-144.png
  public/squircle-168.png
  public/squircle-192.png
  public/squircle-256.png
  public/squircle-32.png
  public/squircle-48.png
  public/squircle-512.png
  public/squircle-64.png
  public/squircle-72.png
  public/squircle-96.png
  public/touchbar-128.png
  public/touchbar-256.png
  public/touchbar-32.png
  public/touchbar-512.png
  public/touchbar-64.png
  public/touchbar.svg
  src/pages/_app.js
Due: format, lint

maintain larger font size for inputs to prevent mobile zoom-in
  src/components/ui/input.jsx
Due: none

redeploy
  fly.toml
Due: none

Path conditions:
  format: any of: *.{js,json}
  lint: any of: *.js
